.container {
}
.videos {
  display: flex;
  flex-wrap: wrap;
}

.videos :global(.Video) {
  width: 320px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.addButton {
  width: 320px;
  height: 180px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}
:global(.fa).plusIcon {
  align-self: center;
  font-size: 120px;
}
