.container {
  video,
  :global(.video-react) {
    width: 100%;
    max-width: 100%;
    height: 0;

    :global(.video-react-big-play-button) {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
